.phantom {
  position: relative;

  .phantom_bgr {
    width: 100%;
  }

  .phantom_vi {
    position: absolute;
    width: 55%;
    top: 0;
    right: 25%;
  }

//   .phantom_content {
//     margin-top: -8px;
//     padding: 3% 5%;
//     background-color: black;
//     display: flex;
//     gap: 2%;
//     align-items: center;

//     img {
//         width: 100%;
//     }
    
//       h3 {
//         font-size: 44px;
//       }
    
//       p {
//         font-size: 22px;
//       }
//   }

  .phantom_person {
    margin-top: -6px;
    display: flex;
    width: 100%;
    padding: 0 10%;
    background-color: #fc012a;
    
    img {
      width: 40%;
      margin: 0 -10%;
    }
  }
}
