.cyberpunk {
position: relative;
  .cyberpunk_imgs {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(0, 0, 0)
    );


.cyberpunk_name {
  width: 30%;
  margin: 20% 0 16% 35%;
}

    .cyberpunk_img_bgr {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }




  .cyberpunk_story {
    margin-top: -6px;
    padding: 3% 5%;
    background-color: black;
    display: flex;
    gap: 2%;
    align-items: center;

  
    img {

        width: 100%;

   
      border: 10px solid #fcee0a;
    }
  
    h3 {
      font-size: 44px;
    }
  
    p {
      font-size: 22px;
    }
  }
  
  .cyberpunk_rewards{
    padding: 3% 5%;
    background-color: #fcee0a;
    display: flex;
    gap: 2%;
    align-items: center;


    *{
        color: black;

    }
    img {
      width: 100%;
        border: 10px solid black;
      }

      h3 {
        font-size: 44px;
      }
    
      p {
        font-size: 22px;
      }
  }
}

