body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Дизайн и картинки с официального сайта Cyberpunk 2077
https://www.cyberpunk.net/us/en/
Другие страницы и часть макета из макета
https://www.figma.com/file/cyOuCcxqhxwqCrillGbcFm/Cyberpunk?type=design&node-id=2-614&mode=design&t=DQIUzfWAqPcRKtzc-0
*/




/* 




 <div className={styles.phantom_imgs}>
          <img
            src="https://www.cyberpunk.net/build/images/phantom-liberty/character-myers@2x-a5da415d.png"
            alt=""
          />
          <img
            src="https://www.cyberpunk.net/build/images/phantom-liberty/character-songbird@2x-115a5186.png"
            alt=""
          />
          <img
            src="https://www.cyberpunk.net/build/images/phantom-liberty/character-reed@2x-d13cf2a0.png"
            alt=""
          />
          <img
            src="https://www.cyberpunk.net/build/images/phantom-liberty/character-alex@2x-32ae1659.png"
            alt=""
          />
          <img
            src="https://www.cyberpunk.net/build/images/phantom-liberty/character-hansen@2x-20238681.png"
            alt=""
          /> */